<html>
<head>

    <title>Brown Bag #1</title>

    <link href="../styles/simple-grid.min.css" rel="stylesheet"/>

    <style>
        body {

        }
        #icon{
            width: 128px;
            height: 128px;
        }
        .jumbotron{
            color: white;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(152,152,152,1) 100%);
            padding-top: 16px;
        }
        .jumbotron h1, h2, h3 {
            color: white
        }
        a, u {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12 center">
                <div style="color: white; font-size: 3.5em">DI, MVC, Templates</div>
                <h2 class="font-light">Modern Java Web apps</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <p class="lead">Spring's Application and WebApplication contexts provide the IOC pattern</p>
                </li>
                <li>
                    <p class="lead">Spring MVC's <b>ContextLoaderListener</b> and <b>Dispatcher servlet</b> provide the MVC pattern</p>
                </li>
                <li>
                    <p class="lead">JSP, Mustache, Velocity, etc provide the templates</p>
                </li>
            </ul>
            <div class="col-6 center">
                <h4>Spring Application Flow</h4>
                <img src="../images/boot.png"/>
            </div>
            <div class="col-6 center">
                <h4>Spring MVC Request Flow</h4>
                <img src="../images/mvc.png" style="width: 400px;"/>
            </div>
            <div class="col-2 center">
                <a href="../history.jsp">Spring History</a>
            </div>
            <div class="col-3 center">
                <a href="../webapps.jsp">Java Web Apps</a>
            </div>
            <div class="col-2 center">
                <a href="../jsp.jsp">JSP</a>
            </div>
            <div class="col-2 center">
                <a href="../servlet">Servlets</a>
            </div>
            <div class="col-3 center">
                <a href="../mvc/example">DI | MVC | Templates</a>
            </div>
            <div>
                <hr/>
                <c:set var="now" value="<%=new java.util.Date()%>"/>
                <b>Hi {{firstName}}!</b>
            </div>
        </div>
    </div>
</div>
</body>
</html>
